/*TITULO*/

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

* {
    margin: 0px;
    padding: 0px;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "header";
    background-image: url(../Images/background.png);
    color: rgb(211, 165, 73);
    font-size: 30px;
    font-family: "Noto Serif Display", serif;
    text-align: center;
    width: 100vw;
}

h1 {
    width: 100vw;
    font-family: "Noto Serif Display", serif;
}

.logoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navBar {
    background-color: rgb(245, 218, 164);
    width: 100vw;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: space-evenly;
}

nav ul li a {
    text-decoration: none;
    font-family: "Lato", sans-serif;
}


.container-fluid {
    justify-content: space-evenly;
    align-items: center;
    font-size: 2vw;
    height: auto;
    font-family: "Lato", sans-serif;
    background-color: rgb(245, 218, 164);
}



/* Page Index*/

.imgIndex {
    width: 100vw;
    filter: grayscale(0);
}


.imgIndex:hover {
    width: 100vw;
    filter: grayscale(1);
    transition: 5s;
}

.imgInstitucional {
    width: 100vw;
    background-color: rgb(221, 165, 44);
    margin-top: 0%;
    margin-bottom: 0%;
    grid-area: "imagen institucional";
}

main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    grid-template-areas: "imagen institucional";
    width: 100vw;
    flex-direction: column;
}

.tituloDes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h2 {
    font-family: "Lato", sans-serif;
    text-align: center;
    margin: 20px 20px;
    padding: 50px;
    font-weight: bold;
    font-size: xx-large;
}

.pHero {
    font-family: "Noto Serif Display", serif;
    text-align: justify;
    padding-bottom: 20px;
}

/* Page Productos*/

.productGrids {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "jabon" "rosa" "naranjo"
    "micelar" "manteca" "balsamo";
    height: 1500px;
    width: 100vw;
    justify-content: center;
    align-content: space-around;
    justify-items: center;
    column-gap: 20px;
    row-gap: 40px;
}

.jabonPr {
    display: flex;
    grid-area: "jabon";
    width: 20vw;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    font-family: "Noto Serif Display", serif;
}

.rosaPr {
    display: flex;
    grid-area: "rosa";
    width: 20vw;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: "Noto Serif Display", serif;
    font: 5px;
}

.naranjoPr {
    display: flex;
    grid-area: "naranjo";
    width: 20vw;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: "Noto Serif Display", serif;
}

.micelarPr {
    display: flex;
    grid-area: "micelar";
    width: 20vw;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: "Noto Serif Display", serif;
}

.mantecaPr {
    display: flex;
    grid-area: "manteca";
    width: 20vw;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: "Noto Serif Display", serif;
}

.balsamoPr {
    display: flex;
    grid-area: "balsamo";
    width: 20vw;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: "Noto Serif Display", serif;
}

.tituloProduct {
    display: flex;
    font-weight: bold;
    flex-direction: column;
    justify-content: left;
    text-align-last: center;
    font-family: "Lato", sans-serif;
    margin: 10px 10px;
}

.imgPr {
    margin: 20px 20px;
}

/* Page Promociones*/

.promoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 1000px;
    width: 100vw;
    justify-content: center;
    align-content: space-evenly;
    justify-items: center;
    column-gap: 20px;
    row-gap: 40px;
}

.card {
    text-align: center;
    font-family: "Noto Serif Display", serif;
    height: fit-content;
}

.card-title {
    font-family: "Lato", sans-serif;
    text-align: center;
    margin: 20px 20px;
    padding: 50px;
    font-weight: bold;
    font-size: xx-large;
}

/* Page Ingredientes */

.ingredGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 2000px;
    width: 100vw;
    justify-content: center;
    align-content: space-evenly;
    justify-items: center;
    column-gap: 20px;
    row-gap: 40px;
}


/*Formulario contacto*/

.contactGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    width: auto;
    flex-direction: column;
    margin-top: 20px;
    font-family: "Noto Serif Display", serif;
}

.contactoForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100vw;
    font-family: "Noto Serif Display", serif;
    text-align: center;
}

.boton {
    font-family: "Noto Serif Display", serif;
}



/*Footer*/
footer {
    background-image: linear-gradient(
    to left,
    rgb(194, 154, 79),
    rgb(245, 218, 164)
    );
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bolder;
}

.redes {
    padding: 20px, 20px;
}

.bi-whatsapp {
    font-size: 30px;
    color: rgb(152, 237, 25);
}

.bi-youtube {
    font-size: 30px;
    color: red;
}

.bi-instagram {
    font-size: 30px;
    color: rgb(242, 85, 242);
}

/** MEDIAS QUERIES **/

/*INDEX*/

@media screen and (max-width: 970px) {
#navBar {
    background-color: rgb(221, 165, 44);
    width: 100vw;
    height: auto;}
}

/* Media Querie max 600px */

@media screen and (max-width: 600px) {
main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    grid-template-areas: "imagen institucional";
    width: 100vw;
    color: rgb(221, 165, 44);
}

#navBar {
    background-color: rgb(221, 165, 44);
    height: auto;
    width: 100vw;
}

.imgIndex {
    width: 100vw;
    filter: grayscale(1);
}

.imgIndex:hover {
    filter: grayscale(0);
}

/*PRODUCTOS*/

.productGrids {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "jabon"
    "rosa"
    "naranjo"
    "micelar"
    "manteca"
    "balsamo";
    height: 9000px;
    width: 100vw;
    justify-content: center;
    align-content: space-around;
    justify-items: center;
    column-gap: 20px;
    row-gap: 40px;
}

  /* PROMOCIONES */

.promoGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-content: center;
    justify-items: center;
    column-gap: 20px;
    row-gap: 40px;
    height: 3000px;
    width: 100vw;}

/* INGREDIENTES*/

.ingredGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 4000px;
    width: 100vw;
    justify-content: center;
    align-content: space-evenly;
    justify-items: center;
    column-gap: 20px;
    row-gap: 40px;
    padding: 10px, 10px, 10px, 10px;
}
}
