

/*Footer*/
footer {
    background-image: linear-gradient(
    to left,
    rgb(194, 154, 79),
    $colorSecond
    );
    text-align: center;
    font-family: $fuenteSecond;;
    font-size: 20px;
    font-style: normal;
    font-weight: bolder;

}
.redes {
    padding: 20px, 20px;
}

.bi-whatsapp {
    font-size: 30px;
    color: rgb(152, 237, 25);
}

.bi-youtube {
    font-size: 30px;
    color: red;
}

.bi-instagram {
    font-size: 30px;
    color: rgb(242, 85, 242);
}
