

/* Page Ingredientes */

.ingredGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "karite" "almond" 
                        "oil"  "coco";
    height: 2000px;
    width: $widthTotal;
    justify-content: center;
    align-content: space-evenly;
    justify-items: center;
    column-gap: 20px;
    row-gap: 40px;
}

.card-title{
    font-family: $fuenteSecond;
    margin: 10px 10px;
    font-weight: bold;
    text-align-last: center;
}

.karite{
    grid-area: "karite";
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
}


.almond{
    grid-area: "almond";
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
}


.oil{
    grid-area: "oil";
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.coco {
    grid-area: "coco";
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
}


/* Media queries INGREDIENTES*/
@media screen and (max-width: 600px) {

.ingredGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "karite"
    "almond"
    "oil"
    "coco";
    height: 4000px;
    width: $widthTotal;
    justify-content: center;
    align-content: space-around;
    justify-items: center;
    column-gap: 20px;
    row-gap: 40px;
}
}
