
/*colores*/

$colorHeader: rgb(211, 165, 73);
$colorSecond: rgb(245, 218, 164);


/* Fuentes*/

$fuentePpal:"Noto Serif Display", serif;
$fuenteSecond:"Lato", sans-serif;


/*Width*/

$widthTotal: 100vw;


