/*TITULO*/

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import "variables.scss";
@import "header.scss";
@import "productos.scss";
@import "promo.scss";
@import "ingrediente.scss";
@import "footer.scss";
@import "form.scss";
@import "botones.scss";


* {
    margin: 0px;
    padding: 0px;
}



/* Page Index */


.tituloDes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

h2 {
    font-family: $fuenteSecond;;
    text-align: center;
    margin: 20px 20px;
    padding: 50px;
    font-weight: bold;
    font-size: xx-large;
}

.pHero {
    font-family: $fuentePpal;
    text-align: justify;
    padding-bottom: 20px;
}


.pIndex {
    font-family: $fuenteSecond;
}


h5 {
    font-family: $fuentePpal;
}



/** MEDIAS QUERIES **/

/*INDEX*/

@media screen and (max-width: 970px) {
#navBar {
    background-color: rgb(221, 165, 44);
    width: $widthTotal;;
    height: auto;}
}

/* Media Querie max 600px */

@media screen and (max-width: 600px) {

#navBar {
    background-color: rgb(221, 165, 44);
    height: auto;
    width: $widthTotal;;
}
}